.main-block {
    height: 550px;
    width: 950px;
    text-align: center;
    outline: 5px dashed blue;
    outline-offset: 5px;
    padding: 20px 40px ;
    vertical-align: center;
    margin: auto;
    background-image: url("gigachad.jpg") ;
    background-position: center;
    background-attachment: scroll;

}
.head-words {
    vertical-align: top;
    color: white;
}

.results {
    display: inline;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.container {
    text-align: center;
    margin: 150px;
    margin-bottom: 10px;
}

.question {
    color: white;
}

.add-multi-btns {
    margin-bottom: 5px;
}